<br>
<div class="row">
  <div class="offset-sm-1 col-sm-10">
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-3 col-form-label">Empleados</label>
        <div class="col-sm-7">
          <select class="form-control" id=""  [(ngModel)]="selectedCatalogoId" (change)="loadCatalogo(selectedCatalogoId)" [doDisbled]="empleados.length===0" >
              <option selected="true" value="0">Refrescar</option>
              <option *ngFor="let empleado of empleados; let i = index" value="{{empleado.id}}">{{empleado.descripcion}}</option>
            </select>
        </div>
      </div>
  </div>
</div>
<div class="row" *ngIf="load">
    <div class="col-sm-10 offset-sm-1">
        <progressbar max="1" value="1" type="danger" [striped]="true" [animate]="true"></progressbar>
    </div>
    <br>
</div>
<div class="row" *ngIf="carga">
  <div class="col-sm-8 offset-sm-2">
  </div>
</div>
