<br>
<div class="row">
  <div class="offset-sm-1 col-sm-10">
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-3 col-form-label">Empleados</label>
        <div class="col-sm-7">
          <select class="form-control" id="selectedEmpleadoId"  name="selectedEmpleadoId" [(ngModel)]="selectedEmpleadoId" (change)="loadEmpleado(selectedEmpleadoId)" [doDisbled]="empleados.length===0||load" >
              <option selected="true" value="0">Refrescar</option>
              <option *ngFor="let empleado of empleados; let i = index" value="{{empleado.id}}">{{empleado.nombre}} {{empleado.paterno}} ({{empleado.email}})</option>
            </select>
        </div>
      </div>
  </div>
</div>
<div class="row" *ngIf="load">
    <div class="col-sm-10 offset-sm-1">
        <progressbar max="1" [value]="1" type="danger" [striped]="true" [animate]="true"></progressbar>
    </div>
    <br>
</div>
<div class="row" *ngIf="carga">
  <div class="col-sm-10 offset-sm-1">
    <div class="row">
      <div class="col-sm-12">
                  <div class="col-sm-12" style="background-color: white;">
              <div class="row">
                  <div class="col-sm-3">
                      <img src="assets/logo.png" width="100%">
                  </div>
                  <br><br><br><br><br>
              </div>
              <br>
              <h3><b>EXPEDIENTE DEL COLABORADOR</b></h3>
              <div class="row">
                  <div class="col-sm-6">
                      <table border="1" class="col-sm-12">
                          <tbody><tr>
                              <td>Nombre completo</td>
                              <td><b>{{data.nombre}} {{data.segundo_nombre}} {{data.paterno}} {{data.materno}}</b></td>
                          </tr>
                          <tr>
                              <td>Fecha de ingreso</td>
                              <td><b>{{data.fingreso}}</b></td>
                          </tr>
                          <tr>
                              <td>Puesto</td>
                              <td><b>{{data.puesto}}</b></td>
                          </tr>
                          <tr>
                              <td>Area</td>
                              <td><b>{{data.division}}</b></td>
                          </tr>
                          <tr>
                              <td>Fecha de nacimiento</td>
                              <td><b>{{data.fnacimiento}}</b></td>
                          </tr>
                          <tr>
                              <td>Numero de Seguro Social</td>
                              <td><b>{{data.numero_ss}}</b></td>
                          </tr>
                          <tr>
                              <td>RFC</td>
                              <td><b>{{data.rfc}}</b></td>
                          </tr>
                          <tr>
                              <td>CURP</td>
                              <td><b>{{data.curp}}</b></td>
                          </tr>
                      </tbody>
                      </table>
                  </div>
                  <div class="col-sm-6">
                      <input #fileInput style="display: none" type="file" (change)="onFileSelected($event)" accept="image/*">
                      <div class="picture" (click)="fileInput.click()">
                          <img class="image" #img *ngIf="!!selectedFile||!!old_avatar" src="{{old_avatar.src}}" alt="{{old_avatar.alt}}">
                          <div class="overlay">
                              <div class="text">Subir Foto</div>
                            </div>
                      </div>
                      <button *ngIf="!!selectedFile" class="btn btn-info" (click)="onUpLoad()">Guardar Foto</button>
                  </div>
              </div>
              <div class="row" style="text-align: center;">
                <div class="col-sm-12">
                  <h3>DOCUMENTOS QUE LO INTEGRAN</h3>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <table border="1" class="col-sm-12">
                        <tbody>
                          <tr>
                            <th>Documentos Personales</th>
                            <th>Listo</th>
                          </tr>
                          <tr>
                              <td>CV/Resumen de Entrevista/Req. de Personal</td>
                              <td><input id="dtaper0" name="dtaper0" [(ngModel)]="data.documentos_personales[0]"  type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Copia Acta de Nacimiento</td>
                              <td><input id="dtaper1" name="dtaper1" [(ngModel)]="data.documentos_personales[1]"  type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Copia Comprobante de Domicilio</td>
                              <td><input id="dtaper2" name="dtaper2" [(ngModel)]="data.documentos_personales[2]"  type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Copia Credencial de Elector</td>
                              <td><input id="dtaper3" name="dtaper3" [(ngModel)]="data.documentos_personales[3]"  type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Pasaporte y Visa</td>
                              <td><input id="dtaper4" name="dtaper4" [(ngModel)]="data.documentos_personales[4]"  type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>2 fotografías tamaño credencial a color</td>
                              <td><input id="dtaper5" name="dtaper5" [(ngModel)]="data.documentos_personales[5]"  type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Copia Constancia de Ultimo grado de Estudios</td>
                              <td><input id="dtaper6" name="dtaper6" [(ngModel)]="data.documentos_personales[6]"  type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Baja, alta o modificación del IMSS</td>
                              <td><input id="dtaper7" name="dtaper7" [(ngModel)]="data.documentos_personales[7]"  type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Constancia de perc. y retenciones del presente año</td>
                              <td><input id="dtaper8" name="dtaper8" [(ngModel)]="data.documentos_personales[8]"  type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Carta constancia empleo anterior</td>
                              <td><input id="dtaper9" name="dtaper9" [(ngModel)]="data.documentos_personales[9]"  type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Carta de recomendación Personal</td>
                              <td><input id="dtaper10" name="dtaper10" [(ngModel)]="data.documentos_personales[10]"  type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Copia de CURP (o cualquier doc. con no. CURP)</td>
                              <td><input id="dtaper11" name="dtaper11" [(ngModel)]="data.documentos_personales[11]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Copia de Estado de Cuenta Afore</td>
                              <td><input id="dtaper12" name="dtaper12" [(ngModel)]="data.documentos_personales[12]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Carta de retención de Infonavit </td>
                              <td><input id="dtaper13" name="dtaper13" [(ngModel)]="data.documentos_personales[13]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Carta de no antecedentes penales</td>
                              <td><input id="dtaper14" name="dtaper14" [(ngModel)]="data.documentos_personales[14]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Banco, cta y clave interbancaria</td>
                              <td><input id="dtaper15" name="dtaper15" [(ngModel)]="data.documentos_personales[15]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Registro Federal de Contribuyentes RFC</td>
                              <td><input id="dtaper16" name="dtaper16" [(ngModel)]="data.documentos_personales[16]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td></td>
                              <td><input id="dtaper17" name="dtaper17" [(ngModel)]="data.documentos_personales[17]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td></td>
                              <td><input id="dtaper18" name="dtaper18" [(ngModel)]="data.documentos_personales[18]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Actas Administrativas<br>&nbsp;</td>
                              <td><input id="dtaper19" name="dtaper19" [(ngModel)]="data.documentos_personales[19]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                  <div class="col-sm-6">
                      <table border="1" class="col-sm-12">
                          <tbody><tr>
                              <th>Documentos internos</th>
                              <th>Listo</th>
                          </tr>
                          <tr>
                              <td>Oferta de trabajo</td>
                              <td><input id="doc_int0" name="doc_int0" [(ngModel)]="data.documentos_internos[0]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Movimientos de Sueldo</td>
                              <td><input id="doc_int1" name="doc_int1" [(ngModel)]="data.documentos_internos[1]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Psicométricos</td>
                              <td><input id="doc_int2" name="doc_int2" [(ngModel)]="data.documentos_internos[2]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Estudio Socioeconómico</td>
                              <td><input id="doc_int3" name="doc_int3" [(ngModel)]="data.documentos_internos[3]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Referencias Personales/Laborales</td>
                              <td><input id="doc_int4" name="doc_int4" [(ngModel)]="data.documentos_internos[4]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Programa de Inducción</td>
                              <td><input id="doc_int5" name="doc_int5" [(ngModel)]="data.documentos_internos[5]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Carta de Protección de Datos personales</td>
                              <td><input id="doc_int6" name="doc_int6" [(ngModel)]="data.documentos_internos[6]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Carta declaratoria (Trabajo previo en Financieras)</td>
                              <td><input id="doc_int7" name="doc_int7" [(ngModel)]="data.documentos_internos[7]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Carta declaratoria (Código de ética)</td>
                              <td><input id="doc_int8" name="doc_int8" [(ngModel)]="data.documentos_internos[8]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Convenio de confidencialidad</td>
                              <td><input id="doc_int9" name="doc_int9" [(ngModel)]="data.documentos_internos[9]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Entrega de Gafete</td>
                              <td><input id="doc_int10" name="doc_int10" [(ngModel)]="data.documentos_internos[10]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Entrega de Credencial SGMM</td>
                              <td><input id="doc_int11" name="doc_int11" [(ngModel)]="data.documentos_internos[11]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Entrega de Alta en IMSS</td>
                              <td><input id="doc_int12" name="doc_int12" [(ngModel)]="data.documentos_internos[12]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Entrega de tarjeta corporativa</td>
                              <td><input id="doc_int13" name="doc_int13" [(ngModel)]="data.documentos_internos[13]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Entrevista de seguimiento a personal de Nvo. Ing.</td>
                              <td><input id="doc_int14" name="doc_int14" [(ngModel)]="data.documentos_internos[14]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Evaluación de desempeño para otorgar Planta</td>
                              <td><input id="doc_int15" name="doc_int15" [(ngModel)]="data.documentos_internos[15]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Contrato Laboral por tiempo Determinado</td>
                              <td><input id="doc_int16" name="doc_int16" [(ngModel)]="data.documentos_internos[16]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Contrato Laboral por tiempo Indeterminado</td>
                              <td><input id="doc_int17" name="doc_int17" [(ngModel)]="data.documentos_internos[17]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Hoja de Vacaciones</td>
                              <td><input id="doc_int18" name="doc_int18" [(ngModel)]="data.documentos_internos[18]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                          <tr>
                              <td>Inventario de RH/ Ckeck List Dctos./Check List de Nuevo Ingreso</td>
                              <td><input id="doc_int19" name="doc_int19" [(ngModel)]="data.documentos_internos[19]" type="checkbox" class="col-sm-12"></td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
              </div>
              <br>
              <div class="row">
                  <button type="button" class="btn btn-primary" (click)="guardar()" > Guardar</button>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
